@page
@model Estimator.Pages.Program.EditModel

@{
    ViewData["Title"] = "Редактирование трудоёмкости операции";
}
<div class="container">
    <div class="form-row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./Index">Программы испытаний</a></li>
                    @{
                        if (Model?.TestChainItem?.ElementType?.Program != null)
                        {
                            <li class="breadcrumb-item"><a asp-page="./Index" asp-route-id="@Model.TestChainItem.ElementType.ProgramID">@Model.TestChainItem.ElementType.Program.Name</a></li>
                        }
                        if (Model?.TestChainItem?.ElementType != null)
                        {
                            <li class="breadcrumb-item">
                                <a asp-page="./Index" asp-route-id="@Model.TestChainItem.ElementType.ProgramID" asp-route-elementTypeID="@Model.TestChainItem.ElementTypeID">@Model.TestChainItem.ElementType.Name</a>
                            </li>
                        }
                    }
                    <li class="breadcrumb-item active">@Model.HeaderText</li>


                </ol>
            </nav>
        </div>
    </div>

  @*  <div class="form-row">
        <div class="col">
            <h4>@Model.TestChainItem.ElementType.Name </h4>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <h4>@Model.HeaderText</h4>
        </div>
    </div>
*@
    <div class="form-row">
        <div class="col">
        @foreach (var chainitem in Model.TestChainItem.ElementType.ChainItems)
            {   
                  @if (Model.TestChainItem.TestChainItemID == chainitem.TestChainItemID)
                {
                    <b>
                        <a asp-page="./Edit"
                   asp-route-testChainItemID="@chainitem.TestChainItemID" title="@chainitem.Operation.Name">
                            @chainitem.Operation.Code |
                        </a>
                        </b>
                }
                else
                {
                <a asp-page="./Edit"
                   asp-route-testChainItemID="@chainitem.TestChainItemID" title="@chainitem.Operation.Name">
                    @chainitem.Operation.Code |
                </a>
                }
            }
            </div>
    </div>
    <div class="form-row">
        <div class="col">

    <form method="post">

        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].QualificationName)</th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].BatchLabor), <b>T<sub>парт</sub> </b> </th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].ItemLabor), <b>T<sub>штук</sub> </b> </th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].KitLabor), <b>T<sub>осн</sub> </b> </th>
            </tr>

            @for (int i = 0; i < Model.TestActionViewList.Count; i++)
            {


                <tr>
                    <td>
                                <input type="hidden" asp-for="TestActionViewList[i].TestActionID" name="TestActionViewList[@i].TestActionID" />
                        @Html.DisplayFor(model => model.TestActionViewList[i].QualificationName)
                    </td>
                    <td>
                                <input asp-for="TestActionViewList[i].BatchLabor" class="form-control" name="TestActionViewList[@i].BatchLabor" />
                                 <span asp-validation-for="TestActionViewList[i].BatchLabor" class="text-danger"></span> 
                    </td>
                    <td>
                                <input asp-for="TestActionViewList[i].ItemLabor" class="form-control" name="TestActionViewList[@i].ItemLabor" type="text" />
                                <span asp-validation-for="TestActionViewList[i].ItemLabor" class="text-danger"></span>
                    </td>
                    <td>
                                <input asp-for="TestActionViewList[i].KitLabor" class="form-control" name="TestActionViewList[@i].KitLabor" />
                                <span asp-validation-for="TestActionViewList[i].KitLabor" class="text-danger"></span> 

                    </td>
                </tr>

            }
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TestChainItem.GroupOperation),&ensp; <b> G<sub></sub> </b>
                </td>
                <td>
                    <input asp-for="TestChainItem.GroupOperation" class="form-control">
                    <span asp-validation-for="TestChainItem.GroupOperation" class="text-danger"></span>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan=" 4">
                    <textarea asp-for="TestChainItem.Description" class="form-control" cols="50" rows="10"></textarea>
                    <span asp-validation-for="TestChainItem.Description" class="text-danger"></span>
                </td>
            </tr>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">

        <a asp-page="./Index"
           asp-route-id="@Model.TestChainItem.ElementType.ProgramID" asp-route-elementTypeID="@Model.TestChainItem.ElementTypeID"
               class="btn btn-outline-primary">
            Cписок
        </a>
        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
        </div>
    </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


