@page
@model Estimator.Pages.Program.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>@Model.TestChainItem.ElementType.Name </h4>
<hr />

<h4>@Model.HeaderText</h4>
<hr />

<div class="row">

    <form method="post">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].QualificationName)</th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].BatchLabor)</th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].ItemLabor)</th>
                <th>@Html.DisplayNameFor(model => model.TestActionViewList[0].KitLabor)</th>
            </tr>

            @for (int i = 0; i < Model.TestActionViewList.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="TestActionViewList[i].TestActionID" name="views[@i].TestActionID" />
                        @Html.DisplayFor(model => model.TestActionViewList[i].QualificationName)
                    </td>
                    <td>
                        <input asp-for="TestActionViewList[i].BatchLabor" class="form-control" name="views[@i].BatchLabor" />
                        <span asp-validation-for="TestActionViewList[i].BatchLabor" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TestActionViewList[i].ItemLabor" class="form-control" name="views[@i].ItemLabor" />
                        <span asp-validation-for="TestActionViewList[i].ItemLabor" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="TestActionViewList[i].KitLabor" class="form-control" name="views[@i].KitLabor" />
                        <span asp-validation-for="TestActionViewList[i].KitLabor" class="text-danger"></span>

                    </td>
                </tr>
            }
        </table>


        <a asp-page="./Edit"
           asp-route-testChainItemID="@Model.PreviosTestChainItemID"
           class="btn btn-primary">
            Назад
        </a>
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        <a asp-page="./Edit"
           asp-route-testChainItemID="@Model.NextTestChainItemID"
           class="btn btn-primary">
            Вперед
        </a>
    </form>

</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.TestChainItem.ElementType.ProgramID" asp-route-elementTypeID="@Model.TestChainItem.ElementTypeID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
