@page "{id:int?}"
@model Estimator.Pages.Program.IndexModel

@{
    ViewData["Title"] = "Программы испытаний";
}

<h1>Программы испытаний</h1>


<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProgramData.Programs)
        {
            string selectedRow = "";
            if (item.TestProgramID == Model.TestProgramID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    <a asp-page="./Index" asp-route-id="@item.TestProgramID">@Html.DisplayFor(modelItem => item.Name)</a>   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                 
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.ElementTypesSort != null)
{
    <h3>Классы ЭКБ выбранной программы</h3>
    <table class="table">
        <tr>
            <th>Наименование типа</th>
            <th>Порядок</th>
            <th>Ключи</th>>
        </tr>

        @foreach (var item in Model.ElementTypesSort)
        {
            string selectedRow = "";
            if (item.ElementTypeID == Model.ElementTypeID)
            {
                selectedRow = "table-success";
            }
    <tr class="@selectedRow">
        <td>
            <a asp-page="./Index" asp-route-elementTypeID="@item.ElementTypeID"> @item.Name</a>
        </td>

        <td>
            @item.Order
        </td>
        
        <td>

            <a asp-page="../ElementKey/Index" asp-route-id="@item.ElementTypeID"><img  width="32" height="32" src="~/key.png"/></a>
        </td>

    </tr>
        }

    </table>

    @if (Model.ProgramData.ChainItems != null)
    {
        <h3>
            Цепочка испытаний для выбранногго типа ЭКБ
        </h3>
        <table class="table">
            <tr>
                <th>Вес</th>
                <th>Наименование</th>
                <th>Код</th>
            </tr>
            @foreach (var item in Model.ProgramData.ChainItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaborWeight)
                    </td>
                    <td>
 
                        <a asp-page="./Edit" asp-route-testChainItemID="@item.TestChainItemID"> @item.Operation.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operation.Code)
                    </td>
                </tr>
            }
        </table>
    }
}