@page
@model Estimator.CustomerRequests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerRequest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Program.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Customer.INN)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CustomerRequest.CustomerRequestID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
