@page
@model             DeleteModel

@{
    ViewData["Title"] = "Delete";
}
    <h3>Удалить заявку&nbsp;@Model.CustomerRequest.CustomerRequestID ?</h3>
<hr />
<div>
   
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Program.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Program.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Customer.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CustomerRequest.CustomerRequestID" />
        <a asp-page="./Index" class="btn btn-outline-primary ">К списку</a>|
        <input type="submit" value="Удалить" class="btn btn-outline-danger" /> 
    </form>
</div>
