
@page

@model Estimator.Pages.CustomerRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}



<h4>Редактирование заявки</h4>
<hr />


<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CustomerRequest.CustomerRequestID" />
    <table class="table">
        <tr>
            <td>

                <label asp-for="CustomerRequest.RequestNumber" class="control-label"></label>

            </td>
            <td>

                <input asp-for="CustomerRequest.RequestNumber" class="form-control" />
                <span asp-validation-for="CustomerRequest.RequestNumber" class="text-danger"></span>

            </td>
            <td>

                <label asp-for="CustomerRequest.RequestDate" class="control-label"></label>


            </td>
            <td>

                <input asp-for="CustomerRequest.RequestDate" class="form-control" />
                <span asp-validation-for="CustomerRequest.RequestDate" class="text-danger"></span>

            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CustomerRequest.Program.Name" class="control-label"></label>
            </td>
            <td>
                <select asp-for="CustomerRequest.TestProgramID" class="form-control" asp-items="ViewBag.TestProgramID" disabled="disabled"></select>
                <span asp-validation-for="CustomerRequest.TestProgramID" class="text-danger"></span>
            </td>
            <td><label asp-for="CustomerRequest.Customer.Name" class="control-label"></label></td>
            <td>
                <select asp-for="CustomerRequest.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerRequest.CustomerID" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>

                <label asp-for="CustomerRequest.Description" class="control-label"></label>


            </td>
            <td colspan="3">

                <textarea asp-for="CustomerRequest.Description" class="form-control" cols="50" rows="3"></textarea>
                <span asp-validation-for="CustomerRequest.Description" class="text-danger"></span>

            </td>
        </tr>

    </table>

    <a href="#hiddenList" onclick="viewDIV('hiddenList'); return false">
        <h4>Перечень ЭКБ:</h4>
    </a>
    <div id="hiddenList" style="display:block;">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].BatchCount)</th>
                <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].ItemCount)</th>
                <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].MissingKitCount)</th>
            </tr>

            @for (int i = 0; i < Model.AssignedElementsList.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" name="elementTypes[@i].RequestElementTypeID" value="@Model.AssignedElementsList[i].RequestElementTypeID" />
                        @Html.DisplayFor(model => model.AssignedElementsList[i].Name)
                    </td>
                    <td>
                        <input asp-for="@Model.AssignedElementsList[i].BatchCount" class="form-control" name="elementTypes[@i].BatchCount" />
                        <span asp-validation-for="AssignedElementsList[i].BatchCount" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.AssignedElementsList[i].ItemCount" name="elementTypes[@i].ItemCount" class="form-control" />
                        <span asp-validation-for="AssignedElementsList[i].ItemCount" class="text-danger"></span>

                    </td>
                    <td>
                        <input asp-for="@Model.AssignedElementsList[i].MissingKitCount" name="elementTypes[@i].MissingKitCount" class="form-control" />
                        <span asp-validation-for="AssignedElementsList[i].MissingKitCount" class="text-danger"></span>

                    </td>
                </tr>
            }
        </table>
    </div>

    <a href="#hiddenOper" onclick="viewDIV('hiddenOper'); return false">
        <h4>Операции:</h4>
    </a>
    <div id="hiddenOper" style="display:block;">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].OperationGroupCode)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].IsExecute)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].ExecuteCount)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].SampleCount)</th>


            </tr>

            @for (int i = 0; i < Model.RequestOperationGroupViews.Count; i++)
            {

                string selectedRow = Model.RequestOperationGroupViews[i].IsExecute ? "table-success" : "";
                <tr class="@selectedRow" id="RequestOperationGroupViews[@i].OperationID">
                    <td>
                        @Html.DisplayFor(model => model.RequestOperationGroupViews[i].OperationGroupCode)
                    </td>

                    <td>
                        <input type="hidden" name="requestOperationGroupViews[@i].OperationID" value="@Model.RequestOperationGroupViews[i].OperationID" />
                        @Html.DisplayFor(model => model.RequestOperationGroupViews[i].Name)
                    </td>
                    <td>
                        <input asp-for="@Model.RequestOperationGroupViews[i].IsExecute" class="form-check-inline" name="requestOperationGroupViews[@i].IsExecute" onclick="showSelected('RequestOperationGroupViews[@i].OperationID');" />

                    </td>
                    <td>
                        <input asp-for="@Model.RequestOperationGroupViews[i].ExecuteCount" name="requestOperationGroupViews[@i].ExecuteCount" class="form-control" />
                        <span asp-validation-for="RequestOperationGroupViews[i].ExecuteCount" class="text-danger"></span>

                    </td>
                    <td>
                        <input asp-for="@Model.RequestOperationGroupViews[i].SampleCount" name="requestOperationGroupViews[@i].SampleCount" class="form-control" />
                        <span asp-validation-for="RequestOperationGroupViews[i].SampleCount" class="text-danger"></span>

                    </td>

                </tr>
            }
        </table>
    </div>
    <div class="form-group">
        <a asp-page="./Index"
           class="btn btn-primary">
            Список
        </a>

        <a asp-page="./Details" asp-route-id="@Model.CustomerRequest.CustomerRequestID"
           class="btn btn-primary">
            Загрузить
        </a>
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
   <script>function viewDIV(n) {
           style = document.getElementById(n).style;
           style.display = (style.display == 'block') ? 'none' : 'block';
       }
       function showSelected(n) {
           var item = document.getElementById(n);
           if (item.classList.contains('table-success')) {
               item.classList.remove('table-success');
           }
           else {
               item.classList.add('table-success');
           }
       }
</script>
