
@page

@model Estimator.Pages.CustomerRequests.EditModel

@{
    ViewData["Title"] = "Редактирование заявки";
}



<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CustomerRequest.CustomerRequestID" />

    <div class="form-row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./Index">Заявки</a></li>
                    <li class="breadcrumb-item active"><a asp-page="./Edit" asp-route-id="@Model.CustomerRequest.CustomerRequestID">@Model.CustomerRequest.CustomerRequestID</a></li>
                    @{
                        if (Model.CustomerRequest.UseImport)
                        {
                            <li class="breadcrumb-item">
                            <a asp-page="./Import" asp-route-id="@Model.CustomerRequest.CustomerRequestID">Импорт перечня
                            </a>
                            </li>

                        }
                    }
                    <li class="breadcrumb-item">
                        <a asp-page="./Report" asp-route-id="@Model.CustomerRequest.CustomerRequestID">
                            Калькуляция
                        </a>
                    </li>
                    

                </ol>
            </nav>
        </div>
    </div>
    <div class="container">

        <div class="form-group row">
            <div class="col-11">   <h4>Редактирование заявки&nbsp;@Model.CustomerRequest.CustomerRequestID</h4> </div>
            <div class="col align-items-end">
                <a asp-page="./Report" asp-route-id="@Model.CustomerRequest.CustomerRequestID" data-toggle="tooltip" data-placement="top" title="Калькуляция стоимости"><img src="~/contract2.png" width="32" height="32" /></a>

             </div>
        </div>
        @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
        {
            <div class="form-group row">
                <div class="col">
                    <b>
                        <a asp-page="./edit" asp-route-id="@Model.CustomerRequest.ParentCustomerRequestID">
                            <img src="~/connect.png" width="20" height="20" /> Родительская заявка: @Model.CustomerRequest.ParentCustomerRequestID
                        </a>
                    </b>
                </div>
            </div>
        }
        @if (Model.ChildCustomerRequestExists(Model.CustomerRequest.CustomerRequestID))
        {
            <div class="form-group row">
                <div class="col">
                    <b>
                        <a asp-page="./edit" asp-route-id="@Model.ChildCustomerReguestID">
                            <img src="~/connect.png" width="20" height="20" /> Дочерняя заявка: @Model.ChildCustomerReguestID
                        </a>
                    </b>
                </div>
            </div>
        }
        <div class="form-group row">


             <div class="col">
                @*<label for="inputRequestName">@Html.DisplayNameFor(m=>m.CustomerRequest.RequestNumber) </label>*@
                <input id="inputRequestName" asp-for="CustomerRequest.RequestNumber" class="form-control" placeholder=@Html.DisplayNameFor(model => model.CustomerRequest.RequestNumber) />
                <span asp-validation-for="CustomerRequest.RequestNumber" class="text-danger"></span>
             
            </div>     
      
            <div class="col">
                @*<label for="inputRequestdate">@Html.DisplayNameFor(m=>m.CustomerRequest.RequestDate) </label>*@
                <input id="inputRequestdate" asp-for="CustomerRequest.RequestDate" class="form-control" placeholder=@Html.DisplayNameFor(model => model.CustomerRequest.RequestDate) />
                <span asp-validation-for="CustomerRequest.RequestDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">

 
             <div class="col">
                @*<label for="inputProgram">@Html.DisplayNameFor(m=>m.CustomerRequest.TestProgramID) </label>*@

                <select id="inputProgram" asp-for="CustomerRequest.TestProgramID" class="form-control" asp-items="ViewBag.TestProgramID" disabled="disabled"></select>
                <span asp-validation-for="CustomerRequest.TestProgramID" class="text-danger"></span>
             </div>     
      
            <div class="col">
                @*<label for="inputCustomer">@Html.DisplayNameFor(m=>m.CustomerRequest.CustomerID) </label>*@
                <select id="inputCustomer" asp-for="CustomerRequest.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerRequest.CustomerID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">


            <div class="col">
                @*<label for="inputDescription">@Html.DisplayNameFor(m=>m.CustomerRequest.CustomerID) </label>*@
                <textarea id="inputDescription" asp-for="CustomerRequest.Description" class="form-control" cols="50" rows="3" placeholder=@Html.DisplayNameFor(model => model.CustomerRequest.Description)></textarea>
                <span asp-validation-for="CustomerRequest.Description" class="text-danger"></span>
            </div>

          
        </div>
        <div class="form-group row">

            <div class="col">
                <label for="inputrate">@Html.DisplayNameFor(m=>m.CustomerRequest.StringRate ) </label>

                <input id="inputrate" asp-for="CustomerRequest.StringRate" class="form-control" placeholder=@Html.DisplayNameFor(m=>m.CustomerRequest.StringRate) />
                <span asp-validation-for="CustomerRequest.StringRate" class="text-danger"></span>
                <small id="inputrateHelpBlock" class="form-text text-muted">
                    Диапазон значений от 0,00 до 100,00,  разделитель разрядов - запятая.
                </small>
            </div>


        </div>
      <div class="form-group row" >
            <div class ="col">
                <div class="custom-control custom-switch">
                    <input type="checkbox" asp-for="@Model.CustomerRequest.UseImport" class="custom-control-input" id="customSwitchUseImport" onclick="ShowImport()">
                    <label class="custom-control-label" for="customSwitchUseImport">@Html.DisplayNameFor(mosel=>Model.CustomerRequest.UseImport) </label>
                </div>
            </div>
                <div class="col col-auto">
                <div id="divImportIcon" style="display:none">
                    @if (Model.ElementImport != null)
                    {
                        @if (Model.ElementImport.FileUploaded)
                        {
                            <a href="@Model.ElementImport.FileWWWPath"><img src="~/xlsx.png" width="32" height="32" /></a>
                        }
                    }
                </div>
                </div>
                <div class="col col-auto">
                    <div id="divImportbutton" style="display:block">
                @{
                    string btnText = "Импортировать";
                    string dis = Model.CustomerRequest.UseImport ? "" : "disabled";
                
                     @if (Model.ElementImport != null)
                    {
                    @if (Model.ElementImport.FileUploaded)
                        {
                            btnText = "Перечень";

                        }
  
                    }
                  } 
                <a  id="importButton" asp-page="./Import" asp-route-id="@Model.CustomerRequest.CustomerRequestID" >
                   @btnText
                </a>
                </div>
                </div>
           
      </div>
      
        <div class="form-group row">
            <div class="col">
             
                <div id="hiddenList">
                    <a href="#hiddenOper" onclick="viewDIV('hiddenList'); return false">
                        <h4>Типы ЭКБ:</h4>
                    </a>
                    <table class="table">

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].Name)</th>
                            <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].BatchCount), <b>N<sub>парт</sub> </b> </th>
                            <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].ItemCount), <b>N<sub>штук</sub> </b> </th>
                            <th>@Html.DisplayNameFor(model => model.AssignedElementsList[0].MissingKitCount), <b>N<sub>осн</sub> </b> </th>
                        </tr>

                        @for (int i = 0; i < Model.AssignedElementsList.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="elementTypes[@i].RequestElementTypeID" value="@Model.AssignedElementsList[i].RequestElementTypeID" />
                                    @Html.DisplayFor(model => model.AssignedElementsList[i].Name)
                                </td>
                                <td>
                                    <input asp-for="@Model.AssignedElementsList[i].BatchCount" class="form-control" name="elementTypes[@i].BatchCount" />
                                    <span asp-validation-for="AssignedElementsList[i].BatchCount" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.AssignedElementsList[i].ItemCount" name="elementTypes[@i].ItemCount" class="form-control" />
                                    <span asp-validation-for="AssignedElementsList[i].ItemCount" class="text-danger"></span>

                                </td>
                                <td>
                                    <input asp-for="@Model.AssignedElementsList[i].MissingKitCount" name="elementTypes[@i].MissingKitCount" class="form-control" />
                                    <span asp-validation-for="AssignedElementsList[i].MissingKitCount" class="text-danger"></span>

                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
      
    </div>


    @if (Model.CustomerRequest.Program.AllowEditChain)
    {

    <a href="#hiddenOper" onclick="viewDIV('hiddenOper'); return false">
        <h4>Операции:</h4>
    </a>


    @if (Model.CustomerRequest.Program.Templates.Count > 0)
                {
    <table class="table">
        <tr>
            <td>
                @*<input asp-for="@Model.CustomerRequest.UseTemplate" class="form-check-inline" onclick="EnableDisableTextBox('CustomerRequest.TestProgramTemplateID',this);" />*@
                
                        <div class="custom-control custom-switch">
                            <input type="checkbox" asp-for="@Model.CustomerRequest.UseTemplate" class="custom-control-input" id="customSwitchUseTemplate" onclick="EnableDisableTextBox('selectTestProgramTemplateID',this);">
                            <label class="custom-control-label" for="customSwitchUseTemplate">Использовать шаблон </label>
                        </div>
            </td>
            <td>
                <select disabled="disabled" asp-for="CustomerRequest.TestProgramTemplateID" id="selectTestProgramTemplateID" class="form-control" asp-items="ViewBag.TestProgramTemplateID"></select>
            </td>
        </tr>
    </table>
            }
    <div id="hiddenOper" style="display:block;">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].OperationGroupCode)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].IsExecute)</th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].ExecuteCount), <b>K<sub>повтор</sub> </b> </th>
                <th>@Html.DisplayNameFor(model => model.RequestOperationGroupViews[0].SampleCount), <b>n </b> </th>


            </tr>




            @for (int i = 0; i < Model.RequestOperationGroupViews.Count; i++)
                {

                    string selectedRow = Model.RequestOperationGroupViews[i].IsExecute ? "table-success" : "";

            <tr class="@selectedRow" id="RequestOperationGroupViews[@i].OperationID">
                <td>
                    @Html.DisplayFor(model => model.RequestOperationGroupViews[i].OperationGroupCode)
                </td>

                <td>
                    <input type="hidden" name="requestOperationGroupViews[@i].OperationID" value="@Model.RequestOperationGroupViews[i].OperationID" />
                    @Html.DisplayFor(model => model.RequestOperationGroupViews[i].Name)
                </td>
                <td>
                            @*<input asp-for="@Model.RequestOperationGroupViews[i].IsExecute" class="form-check-inline" name="requestOperationGroupViews[@i].IsExecute" onclick="showSelected('RequestOperationGroupViews[@i].OperationID');" />*@
                            <div class="custom-control custom-switch">
                                <input type="checkbox" asp-for="@Model.RequestOperationGroupViews[i].IsExecute" name="RequestOperationGroupViews[@i].IsExecute" class="custom-control-input" id="RequestOperationGroupViews[@i].IsExecute" onclick="showSelected('RequestOperationGroupViews[@i].OperationID');">
                                <label class="custom-control-label" for="RequestOperationGroupViews[@i].IsExecute"> </label>
            </div>

                
                        </td>
                <td>
                    <input asp-for="@Model.RequestOperationGroupViews[i].ExecuteCount" name="RequestOperationGroupViews[@i].ExecuteCount" class="form-control" />
                    <span asp-validation-for="@Model.RequestOperationGroupViews[@i].ExecuteCount" class="text-danger"></span>

                            
                </td>
                <td>
                    <input asp-for="@Model.RequestOperationGroupViews[i].SampleCount" name="RequestOperationGroupViews[@i].SampleCount" class="form-control" />
                    <span asp-validation-for="@Model.RequestOperationGroupViews[i].SampleCount" class="text-danger"></span>

                </td>

            </tr>
                }
        </table>

    </div>
    }

    <div class="btn-group" role="group" aria-label="request">

        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />

        @if (Model.ChildProgramID(Model.CustomerRequest.TestProgramID  ) > 0 & !Model.ChildCustomerRequestExists(Model.CustomerRequest.CustomerRequestID))
    {

        <a asp-page="./edit" asp-route-parentid="@Model.CustomerRequest.CustomerRequestID" class="btn btn-outline-primary">
            Создать @Model.ChildProgram.Name
        </a>

    }

    </div>
    <script>
        window.onload = function () {
            ShowImport();
        };
      
        </script>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function viewDIV(n) {
        style = document.getElementById(n).style;
        style.display = (style.display == 'block') ? 'none' : 'block';
    }

    function showSelected(n) {
        var item = document.getElementById(n);
        if (item.classList.contains('table-success')) {
            item.classList.remove('table-success');
        }
        else {
            item.classList.add('table-success');
        }
    }
    function disableControl(n) {
        element = document.getElementById(n);
        
        element.setAttribute('disabled', (element.disabled == 'disabled') ? '' : 'disabled');

    }
    function EnableDisableTextBox(control, chk) {
        var txt = document.getElementById(control);
        txt.disabled = chk.checked ? false : true;
        if (!txt.disabled) {
            txt.focus();
        }
    }
    function ShowImport()
    {
        var chk = document.getElementById('customSwitchUseImport').checked;
        
        document.getElementById('divImportbutton').style.display = (chk) ? 'block' : 'none';
        document.getElementById('divImportIcon').style.display = (chk) ? 'block' : 'none';
        document.getElementById('hiddenList').style.display = (chk) ? 'none' : 'block';
        //alert(chk);
        
    }
   
</script>
