@page

@model Estimator.Pages.CustomerRequests.ImportModel

@{
    ViewData["Title"] = "Import";
}
<h4>Импорт перечня из XSLX (эксель) файла</h4>
<form method="post" enctype="multipart/form-data">
    <hr />
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                <input type="hidden" asp-for="ElementImport.CustomerRequestID" />
                <input type="hidden" asp-for="ElementImport.ElementImportID" />
                @Html.DisplayNameFor(model => model.ElementImport.CustomerRequest.RequestNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElementImport.CustomerRequest.RequestNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ElementImport.CustomerRequest.RequestDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElementImport.CustomerRequest.RequestDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ElementImport.CustomerRequest.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElementImport.CustomerRequest.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ElementImport.CustomerRequest.Program.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElementImport.CustomerRequest.Program.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ElementImport.CustomerRequest.Customer.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElementImport.CustomerRequest.Customer.Name)
            </dd>
        </dl>
    </div>
    <hr />
    <h3 class="alert-danger">  @Html.DisplayFor(model => model.ErrorMessage)</h3>
    <hr />

        <h5>@Html.DisplayFor(model => model.StepName)</h5>
        <details>
            <summary>Описание этапа</summary>
            @if (Model.ImportStep == 1)
            {
            <ol>
            <li>
                Выбери файл в формате xlsx. Никакой другой формат, в том числе xls не подходит.
            </li>
            <li>
                Укажи наименования колонок для импорта. Если в колонке указанной для количества  не найдено положитетельное число, то
                данная строка таблицы не импротируется.
            </li>
           
            </ol>
            }
        </details>
        <table class="table table-bordered">
            @if (Model.ImportStep == 1)
            {
                <tr>
                    <td colspan="5">
                        <input type="file" name="uploadedFile" />

                    </td>
                    <td>
                        <input type="submit" value="Загрузить" class="btn btn-primary" asp-route-step="1" />
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input asp-for="@Model.ElementImport.FirstRowIsHeader" class="form-check-inline" />
                        Первая строка таблицы является заголовком
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>

                    @Html.DisplayNameFor(model => model.ElementImport.ElementNameColumn)
                </td>
                <td>@Html.DisplayNameFor(model => model.ElementImport.ElementDatasheetColumn)</td>
                <td>@Html.DisplayNameFor(model => model.ElementImport.ElementManufacturingColumn)</td>
                <td>@Html.DisplayNameFor(model => model.ElementImport.ElementTypeKeyColumn)</td>
                <td>@Html.DisplayNameFor(model => model.ElementImport.ElementCountColumn)</td>
            </tr>
            @if (Model.ImportStep == 1)
            {
                <tr>
                    <td></td>
                    <td><select asp-for="ElementImport.ElementNameColumn" asp-items="Html.GetEnumSelectList<Estimator.Models.ColumnNames>()" class="form-control"></select></td>

                    <td><select asp-for="ElementImport.ElementDatasheetColumn" asp-items="Html.GetEnumSelectList<Estimator.Models.ColumnNames>()" class="form-control"></select></td>
                    <td><select asp-for="ElementImport.ElementManufacturingColumn" asp-items="Html.GetEnumSelectList<Estimator.Models.ColumnNames>()" class="form-control"></select></td>
                    <td><select asp-for="ElementImport.ElementTypeKeyColumn" asp-items="Html.GetEnumSelectList<Estimator.Models.ColumnNames>()" class="form-control"></select></td>
                    <td><select asp-for="ElementImport.ElementCountColumn" asp-items="Html.GetEnumSelectList<Estimator.Models.ColumnNames>()" class="form-control"></select></td>
                </tr>
            }
                @if (Model.ElementImport.XLSXElementTypes != null)
                {
                    @for (int i = 0; i < Model.ElementImport.XLSXElementTypes.Count; i++)
                    {
                        <tr id="ElementImport.XLSXElementTypes[@i].ElementImportID">
                            <td><input asp-for="@Model.ElementImport.XLSXElementTypes[i].Deleted" class="form-check-inline" name="XLSXElementTypes[@i].Deleted" /> </td>
                            <td>
                                <input asp-for="@Model.ElementImport.XLSXElementTypes[i].ElementName" name="XLSXElementTypes[@i].ElementName" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@Model.ElementImport.XLSXElementTypes[i].ElementDatasheet" name="XLSXElementTypes[@i].ElementDatasheet" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@Model.ElementImport.XLSXElementTypes[i].ElementManufacturing" name="XLSXElementTypes[@i].ElementManufacturing" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@Model.ElementImport.XLSXElementTypes[i].ElementTypeKey" name="XLSXElementTypes[@i].ElementTypeKey" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@Model.ElementImport.XLSXElementTypes[i].ElementCount" name="XLSXElementTypes[@i].ElementCount" class="form-control" />
         
                            </td>
                        </tr>
                    }
                }
            </table>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
