@page
@model Estimator.Pages.CustomerRequests.ReportModel

@{
    ViewData["Title"] =  "Калькуляция стоимости по заявке:" + Model.CustomerRequest.CustomerRequestID.ToString(); 
}
<form method="post">
    <input type="hidden" asp-for="SelectedTab" />
   
      <div class="form-row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./Index">Заявки</a></li>
                        <li class="breadcrumb-item active"><a asp-page="./Edit" asp-route-id="@Model.CustomerRequest.CustomerRequestID">@Model.CustomerRequest.CustomerRequestID</a></li>
                        @{
                            if (Model.CustomerRequest.UsePurchaseElements)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-page="./Purchase" asp-route-id="@Model.CustomerRequest.CustomerRequestID">
                                        Закупка
                                    </a>
                                </li>
                            }
                        }
                        @{
                            if (Model.CustomerRequest.UseImport)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-page="./Import" asp-route-id="@Model.CustomerRequest.CustomerRequestID">
                                        Импорт
                                    </a>
                                </li>
                            }
                        }
                        <li class="breadcrumb-item">
                            <a asp-page="./Report" asp-route-id="@Model.CustomerRequest.CustomerRequestID">
                                Калькуляция
                            </a>
                        </li>


                    </ol>
                </nav>
            </div>
        </div>
    @if (Model.CustomerRequest.InValidPurchaseElementsCount > 0)
    {
        <div class="form-row no-gutters">
            <div class="col">
                @{

                    string alertType = Model.CustomerRequest.InValidPurchaseElementsCount == 0 ? "alert alert-success alert-dismissible fade show" : "alert alert-warning alert-dismissible fade show";
                    string alertMessage = string.Format(" Закупка ЭКБ! Корректных элементов {0} из {1}. Заполните цену и срок поставки  каждого элемента!", Model.CustomerRequest.ValidPurchaseElementsCount, Model.CustomerRequest.ValidPurchaseElementsCount + Model.CustomerRequest.InValidPurchaseElementsCount);



                    <div class="@alertType" role="alert">


                        <p class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                            @alertMessage
                        </p>


                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>



                    </div>
                }
            </div>
        </div>
    }
    @if (Model.CustomerRequest.InValidImportElementsCount > 0)
    {
        <div class="form-row">
            <div class="col">
                @{

                    string alertTypeI = "alert alert-info alert-dismissible fade show";
                    string alertMessageI = string.Format("Импорт ЭКБ! Корректных  элементов {0} из {1}. Установите правильные ключи!", Model.CustomerRequest.ValidImportElementsCount, Model.CustomerRequest.ValidImportElementsCount + Model.ElementImport.CustomerRequest.InValidImportElementsCount);



                    <div class="@alertTypeI" role="alert">


                        <p class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                            @alertMessageI
                        </p>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                }


            </div>

        </div>
    }
        
   
        <div class="form-row">

            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                    Калькуляция стоимости испытаний по зявке &nbsp;@Model.CustomerRequest.CustomerRequestID
                    </div>
                    <div class="card-body">
                    <dl class="form-row">
                        <dt class="col-4">
                            Заявка:
                        </dt>
                        <dd class="col-8">
                            @String.Concat(Model.CustomerRequest.RequestNumber, " от ", @Model.CustomerRequest.RequestDate.ToShortDateString())
                        </dd>
                        <dt class="col-4">
                            Заказчик:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.CustomerRequest.Customer.Name)
                        </dd>
                        <dt class="col-4">
                            Программа испытаний:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.CustomerRequest.Program.Name)
                        </dd>
                        <dt class="col-4">
                            Описание:
                        </dt>
                        <dd class="col-8">
                            @Html.DisplayFor(model => model.CustomerRequest.Description)
                        </dd>
                        <dt class="col-4">
                            Экономические показатели:
                        </dt>
                        <dd class="col-8">
                            <select asp-for="SelectedYear" class="form-control" asp-items="ViewBag.YearOfNorms"></select>
                        </dd>
                        <dt class="col-4">
                            Коэфициент сложности:
                        </dt>
                        <dd class="col-8">


                            <input id="inputrate" asp-for="RequestRate " class="form-control" placeholder=@Html.DisplayNameFor(m=>m.CustomerRequest.StringRate) />
                            <span asp-validation-for="RequestRate" class="text-danger"></span>
                            <small id="inputrateHelpBlock" class="form-text text-muted">
                                Диапазон значений от 0,00 до 100,00,  разделитель разрядов - запятая.
                            </small>
                        </dd>
                        <dt class="col-4">
                            Коэфициент закупки:
                        </dt>
                        <dd class="col-8">


                            <input id="inputrate" asp-for="RequestMaterialRate" class="form-control" placeholder=@Html.DisplayNameFor(m=>m.CustomerRequest.StringMaterialRate) />
                            <span asp-validation-for="RequestMaterialRate" class="text-danger"></span>
                            <small id="inputrateHelpBlock" class="form-text text-muted">
                                Диапазон значений от 0,00 до 100,00,  разделитель разрядов - запятая.
                            </small>
                        </dd>
                    </dl>
                    <div class="form-row">

                        <div class="col text-right">
                            <input type="submit" value="Пересчитать" class="btn btn-outline-info" />
                        </div>
                    </div>
                 </div>
                
                </div>
            </div>
        </div>
       

      
        @{
            string[] navs = new string[8];//{ "nav-item-tab1", "nav-item-tab2", "nav-item-tab3", "nav-item-tab4", "nav-item-tab5", "nav-item-tab5" }
            string[] tabs = new string[8];
            for (int i = 0; i < navs.Length; i++)
            {
                if (i==Model.SelectedTab)
                {
                    navs[i] = "nav-item nav-link active";
                    tabs[i] = "tab-pane fade show active";
                }
                else
                {
                    navs[i] = "nav-item nav-link";
                    tabs[i] = "tab-pane fade";
                }
            }
        }

        <div class="row">
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="@navs[1]" id="nav-item-tab1" data-toggle="tab" href="#nav-item1" role="tab" aria-controls="nav-item1" onclick="saveSelectedTab('1')" >Структура цены</a>
                        <a class="@navs[7]" id="nav-item7-tab" data-toggle="tab" href="#nav-item7" role="tab" aria-controls="nav-item7" onclick="saveSelectedTab('7')">Общие сведения</a>
                        <a class="@navs[5]" id="nav-item5-tab" data-toggle="tab" href="#nav-item5" role="tab" aria-controls="nav-item5" onclick="saveSelectedTab('5')">Перечень</a>
                        <a class="@navs[3]" id="nav-item3-tab" data-toggle="tab" href="#nav-item3" role="tab" aria-controls="nav-item3" onclick="saveSelectedTab('3')">Типы</a>
                        <a class="@navs[2]" id="nav-item2-tab" data-toggle="tab" href="#nav-item2" role="tab" aria-controls="nav-item2" onclick="saveSelectedTab('2')">Группы</a>
                        <a class="@navs[4]" id="nav-item4-tab" data-toggle="tab" href="#nav-item4" role="tab" aria-controls="nav-item4" onclick="saveSelectedTab('4')">Операции</a>
                        <a class="@navs[6]" id="nav-item6-tab" data-toggle="tab" href="#nav-item6" role="tab" aria-controls="nav-item6" onclick="saveSelectedTab('6')">Сводка браков</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    @*структура цены*@
                    <div class="@tabs[1]" id="nav-item1" role="tabpanel" aria-labelledby="nav-item-tab1">
                        <table class=" table table-bordered">
                            <tr>
                                <th>№ п/п </th>
                                <th>Наименование статей калькуляции </th>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <th>
                                        <a asp-page="./report" asp-route-id="@Model.CustomerRequest.ParentCustomerRequestID">
                                            Плановые затраты,<br /> @Model.CustomerRequest.ParentCustomerRequest.Program.Name
                                        </a>
                                    </th>
                                }
                                <th>
                                    Плановые затраты,<br /> @Model.CustomerRequest.Program.Name
                                </th>

                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <th>
                                        <a asp-page="./report" asp-route-id="@Model.CustomerRequest.ChildCustomerRequestID  ">
                                            Плановые затраты,<br /> @Model.CustomerRequest.ChildCustomerRequest.Program.Name
                                        </a>
                                    </th>
                                }


                            </tr>
                            <tr>
                                <td>0100</td>
                                <td>@Html.DisplayNameFor(model=>model.CustomerRequest.MaterialCost)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.MaterialCost.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.MaterialCost.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.MaterialCost.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0101</td>
                                <td>@Html.DisplayNameFor(model=>model.CustomerRequest.AccessoriesCost)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.AccessoriesCost.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.AccessoriesCost.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.AccessoriesCost.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0104</td>
                                <td>@Html.DisplayNameFor(model=>model.CustomerRequest.PartsCost)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.PartsCost.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.PartsCost.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.PartsCost.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0105</td>
                                <td>@Html.DisplayNameFor(model=>model.CustomerRequest.ServicesCost)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.ServicesCost.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.ServicesCost.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.ServicesCost.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0200</td>
                                <td>Затраты на оплату труда основных производственных рабочих (непосредственных исполнителей) - всего:, руб</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.TotalSalary.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.TotalSalary.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.TotalSalary.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0201</td>
                                <td>-основная заработная плата, руб </td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.BasicSalary.ToString("N2")</td>
                                }
                                <td>@Model.CustomerRequest.BasicSalary.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.BasicSalary.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0202</td>
                                <td>-дополнительная заработная плата, руб (@Model.CustomerRequest.CompanyHistory.AdditionalSalary.ToString("N2")%)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ParentCustomerRequest.AdditionalSalary.ToString("N2")
                                    </td>
                                }
                                <td>@Model.CustomerRequest.AdditionalSalary.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.AdditionalSalary.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>0300</td>
                                <td>Страховые взносы на обязательное социальное страхование, руб (@Model.CustomerRequest.CompanyHistory.PensionTax.ToString("N2")%) </td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.PensionTax.ToString("N2") </td>
                                }
                                <td>@Model.CustomerRequest.PensionTax.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td> @Model.CustomerRequest.ChildCustomerRequest.PensionTax.ToString("N2")  </td>
                                }
                            </tr>
                        <tr>
                            <td>0800</td>
                            <td>Общехозяйственные затраты, руб (@Model.CustomerRequest.CompanyHistory.ProductionExpenses.ToString("N2")%)</td>
                            @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                            {
                                <td>@Model.CustomerRequest.ParentCustomerRequest.ProductionExpenses.ToString("N2") </td>
                            }
                            <td>@Model.CustomerRequest.ProductionExpenses.ToString("N2") </td>
                            @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                            {
                                <td>
                                    @Model.CustomerRequest.ChildCustomerRequest.ProductionExpenses.ToString("N2")
                                </td>
                            }
                        </tr>
                            <tr>
                                <td>0900</td>
                                <td>Общехозяйственные затраты, руб (@Model.CustomerRequest.CompanyHistory.GeneralionExpenses.ToString("N2")%)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.GeneralionExpenses.ToString("N2") </td>
                                }
                            <td>@Model.CustomerRequest.GeneralionExpenses.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                    @Model.CustomerRequest.ChildCustomerRequest.GeneralionExpenses.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>1300</td>
                                <td>Производственная себестоимость, руб</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.InputCost.ToString("N2") </td>
                                }
                                <td>@Model.CustomerRequest.InputCost.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.InputCost.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>1800</td>
                                <td>Прибыль, руб (@Model.CustomerRequest.CompanyHistory.Margin.ToString("N2")%)</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.Profit.ToString("N2")  </td>
                                }
                                <td>@Model.CustomerRequest.Profit.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.Profit.ToString("N2")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td><b>1900</b></td>
                                <td><b>Цена(без НДС), руб</b></td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        <b>@Model.CustomerRequest.ParentCustomerRequest.TotalCost.ToString("N2") </b>
                                    </td>
                                }
                                <td><b>@Model.CustomerRequest.TotalCost.ToString("N2") </b></td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        <b>@Model.CustomerRequest.ChildCustomerRequest.TotalCost.ToString("N2") </b>
                                    </td>
                                }
                            </tr>

                            <tr class=" table-warning">
                                @if (((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0) || ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0))
                                {
                                    <td></td>
                                    <td><b>ИТОГО без НДС, руб</b></td>
                                    <td> </td>
                                    <td>
                                        <b>
                                            @Model.FullTotalCost.ToString("N2")
                                        </b>
                                    </td>


                                }
                            </tr>

                            <tr>
                                <td>0000</td>
                                <td>Трудоемкость, чел/час</td>
                                @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.TotalLabor.ToString("N2")</td>
                                }
                                <td>@Model.CustomerRequest.TotalLabor.ToString("N2") </td>
                                @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                {
                                    <td>
                                        @Model.CustomerRequest.ChildCustomerRequest.TotalLabor.ToString("N2")
                                    </td>
                                }
                            <tr>
                                <td>0000</td>
                                <td>Средняя заработная плата(мес), руб</td>
                                    @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                    {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.AverageSalary.ToString("N2") </td>
                                    }
                                <td>@Model.CustomerRequest.AverageSalary.ToString("N2") </td>
                                    @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                    {
                                    <td>
                                            @Model.CustomerRequest.ChildCustomerRequest.AverageSalary.ToString("N2")
                                    </td>
                                    }
                            </tr>
                            <tr>
                                <td>0000</td>
                                <td>Средняя стоимость испытаний 1 партии, руб </td>
                                    @if ((Model.CustomerRequest.ParentCustomerRequestID ?? 0) != 0)
                                    {
                                    <td>@Model.CustomerRequest.ParentCustomerRequest.AveragePartCost.ToString("N2") </td>
                                    }
                                <td>@Model.CustomerRequest.AveragePartCost.ToString("N2") </td>
                                    @if ((Model.CustomerRequest.ChildCustomerRequestID ?? 0) != 0)
                                    {
                                    <td>
                                            @Model.CustomerRequest.ChildCustomerRequest.AveragePartCost.ToString("N2")
                                    </td>
                                    }
                            </tr>

                        </table>

                    </div>

                    @*Общие сведения*@
                    <div class="@tabs[7]" id="nav-item7" role="tabpanel" aria-labelledby="nav-item7-tab">
                        <table class="table table-bordered">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].ElementType.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].BatchCount)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].ItemCount)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].KitCount)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].KitLaborSummary)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].BatchLaborSummary)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].ItemLaborSummary)</th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model.CustomerRequest.RequestElementTypes)
                                {
                                    @if (item.BatchCount > 0)
                                    {
                                        <tr>
                                            <td>
                                                @item.ElementType.Name
                                            </td>
                                            <td>
                                                @item.BatchCount
                                            </td>
                                            <td>
                                                @item.ItemCount
                                            </td>
                                            <td>
                                                @item.KitCount
                                            </td>
                                            <td>
                                                @item.KitLaborSummary.ToString("N2")

                                            </td>
                                            <td>
                                                @item.BatchLaborSummary.ToString("N2")

                                            </td>

                                            <td>
                                                @item.ItemLaborSummary.ToString("N2")

                                            </td>

                                        </tr>
                                    }

                                }
                            </tbody>
                            <tfoot>

                                <tr>
                                    <td><b>Итого:</b></td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalBanchCount
                                        </b>
                                    </td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalItemCount
                                        </b>
                                    </td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalKitCount
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotaKitlLabor.ToString("N2")
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalBatchLabor.ToString("N2")
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalItemLabor.ToString("N2")
                                        </b>

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    @*перечень*@
                    <div class="@tabs[5]" id="nav-item5" role="tabpanel" aria-labelledby="nav-item5-tab">
                        @if (Model.ElementImport != null)
                        {
                            <div class="container">
                                <div class="nav">
                                  
                                        <a class="nav-link" target="_blank" asp-page="./Download" asp-route-reportType="elements" asp-route-id="@Model.CustomerRequest.CustomerRequestID" asp-route-year="@Model.YearOfNoms" data-toggle="tooltip" data-placement="bottom" title="Скачать все данные для рассчета в формате Excel">
                                           Все данные
                                        </a>
                                    <a class="nav-link" target="_blank" asp-page="./Download" asp-route-reportType="FillElementList" asp-route-id="@Model.CustomerRequest.CustomerRequestID" asp-route-year="@Model.YearOfNoms" data-toggle="tooltip" data-placement="bottom" title="Добавить  данные  рассчета в исходный файл Excel">
                                            Заполнить исходный файл
                                        </a>
                                    <a class="nav-link" target="_blank" asp-page="./Download" asp-route-reportType="Invoce" asp-route-id="@Model.CustomerRequest.CustomerRequestID" asp-route-year="@Model.YearOfNoms" data-toggle="tooltip" data-placement="bottom" title="Коммерческое предложение в формате Excel">
                                            КП
                                        </a>
                                   
                                </div>

                                <div class="form-row">

                                    <div class="col"> 
                                    <table class="table table-bordered">


                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].RowNum)</th>
                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].ElementName)</th>

                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].SuppliedCount)</th>
                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].PurchasedCount)</th>

                                            @if (Model.CustomerRequest.UsePurchaseElements)
                                            {
                                                <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].ElementPrice)</th>
                                                <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].TotalPrice)</th>
                                            }
                                            @if (Model.ElementImport.ImportElementКitPrice)
                                            {
                                                <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].ElementKitPrice)</th>
                                            }
                                            @if (Model.ElementImport.ImportElementContractorPrice)
                                            {
                                                <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].ElementContractorPrice)</th>
                                            }
                                            @{
                                                string colName = Model.CustomerRequest.Program.Name + " " + Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].OwnCost).ToString();
                                            }
                                            <th>@colName</th>
                                            @{
                                                if (Model.CustomerRequest.ChildCustomerRequest != null)
                                                {
                                                    string colNameChild = Model.CustomerRequest.ChildCustomerRequest.Program.Name + " " + Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].OwnCost).ToString();

                                                    <th>@colNameChild</th>
                                                }
                                            }
                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].ElementFullCost)</th>
                                            <th>@Html.DisplayNameFor(model => model.ElementImport.XLSXElementTypes[0].FullCost)</th>
                                        </tr>


                                        @if (Model.ElementImport != null)

                                        {
                                            @foreach (var item in Model.ElementImport.XLSXElementTypes)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.RowNum
                                                    </td>
                                                    <td>
                                                        @item.ElementName
                                                    </td>

                                                    <td>
                                                        @item.SuppliedCount
                                                    </td>
                                                    <td>
                                                        @item.PurchasedCount
                                                    </td>
                                                    
                                                    @if (Model.CustomerRequest.UsePurchaseElements)
                                                    {
                                                        <td>
                                                      
                                                               @item.ElementPriceRated.ToString("F2")
                                                        </td>

                                                        <td>

                                                            @item.TotalPrice.ToString("F2")
                                                        </td>
                                                    }
                                                    @if (Model.ElementImport.ImportElementКitPrice)
                                                    {
                                                        <td>

                                                            @item.ElementKitPrice.ToString("F2")
                                                        </td>
                                                    }

                                                    @if (Model.ElementImport.ImportElementContractorPrice)
                                                    {
                                                        <td>

                                                            @item.ElementContractorPrice.ToString("F2")
                                                        </td>
                                                    }
                                                    <td>

                                                        @item.OwnCost.ToString("F2")
                                                    </td>
                                                    @if (Model.CustomerRequest.ChildCustomerRequest != null)
                                                    {
                                                    <td>
                                                            @item.ChildElementOwnCost.ToString("F2")
                                                       
                                                    </td>
                                                    }

                                                    <td>

                                                        @item.ElementFullCost.ToString("F2")
                                                    </td>
                                                    <td>

                                                        @item.FullCost.ToString("F2")
                                                    </td>
                                                </tr>


                                            }

                                        }

                                        <tfoot>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                @if (Model.ElementImport.ImportElementPrice)
                                                {
                                                    <td></td>
                                                    <td>

                                                        <b>
                                                            @Model.ElementImport.ElementPriceTotal.ToString("N2")
                                                        </b>

                                                    </td>
                                                }
                                                @if (Model.ElementImport.ImportElementКitPrice)
                                                {
                                                    <td>

                                                        <b>
                                                            @Model.ElementImport.ElementKitPriceTotal.ToString("N2")
                                                        </b>

                                                    </td>
                                                }
                                                @if (Model.ElementImport.ImportElementContractorPrice)
                                                {
                                                    <td>
                                                        <b>
                                                            @Model.ElementImport.ElementContractorPriceTotal.ToString("N2")
                                                        </b>

                                                    </td>
                                                }
                                                <td>
                                                    <b>
                                                        @Model.ElementImport.CustomerRequest.ElementImport.CostTotal.ToString("N2")
                                                    </b>
                                                </td>
                                                @if (Model.CustomerRequest.ChildCustomerRequest != null)
                                                {
                                                    <td>
                                                        <b>

                                                        @Model.CustomerRequest.ChildCustomerRequest.TotalCost.ToString("N2")
                                                        </b>
                                                    </td>
                                                }

                                                <td>
                                                    <b>
                                                        @* @Model.ElementImport.CostTotal.ToString("N2") *@
                                                    </b>
                                                </td>
                                               
                                                <td>
                                                    <b>
                                                        @Model.ElementImport.FullCost.ToString("N2")
                                                    </b>
                                                </td>
                                            </tr>


                                        </tfoot>
                                    </table>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    @*операции  *@
                    <div class="@tabs[4]" id="nav-item4" role="tabpanel" aria-labelledby="nav-item4-tab">

                        <table class="table table-bordered">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.OperationSummary[0].OperationCode)</th>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.OperationSummary[0].OperationName)</th>
                                @if (Model.CustomerRequest.OperationGroups.Count > 0)
                                {
                                    @foreach (var itemOG in Model.CustomerRequest.OperationGroups[0].QualificationLaborSummary)
                                    {
                                        <th>
                                            @itemOG.Name
                                        </th>
                                    }

                                    <th>@Html.DisplayNameFor(model => model.CustomerRequest.OperationSummary[0].LaborSummary)</th>
                                }
                            </tr>

                            @foreach (var item in Model.CustomerRequest.OperationSummary)
                            {
                                if (item.LaborSummary > 0)
                                {
                                    <tr>
                                        <td>
                                            @item.OperationCode
                                        </td>
                                        <td>
                                            @item.OperationName
                                        </td>
                                        @foreach (var itemOG in item.QualificationLaborSummary)
                                        {
                                            <td>
                                                @String.Format("{0:0.00}", itemOG.LaborSummary / 60)
                                            </td>
                                        }
                                        <td>
                                            @String.Format("{0:0.00}", item.LaborSummary / 60)
                                        </td>
                                    </tr>
                                }

                            }
                            <tfoot>
                                <tr class="thead-dark">
                                    <td></td>
                                    <td><b>Итого трудоёмкость,  час:</b></td>
                                    @foreach (var itemOG in Model.CustomerRequest.QualificationSummary)
                                    {
                                        <td>
                                            <b>
                                                @String.Format("{0:0.00}", (itemOG.LaborSummary / 60))
                                            </b>
                                        </td>
                                    }
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalLabor.ToString("N2")
                                        </b>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>

                    </div>
                    @*по группам испытаний*@
                    <div class="@tabs[2]" id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">
                        <table class="table table-bordered">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.OperationGroups[0].Name)</th>
                                @if (Model.CustomerRequest.OperationGroups.Count > 0)
                                {
                                    @foreach (var itemOG in Model.CustomerRequest.OperationGroups[0].QualificationLaborSummary)
                                    {
                                        <th>
                                            @itemOG.Name
                                        </th>
                                    }

                                    <th>@Html.DisplayNameFor(model => model.CustomerRequest.OperationGroups[0].LaborSummary)</th>
                                }
                            </tr>

                            @foreach (var item in Model.CustomerRequest.OperationGroups)
                            {
                                if (item.LaborSummary > 0)
                                {
                                    <tr>
                                        <td>
                                            @item.Name, руб.
                                            <hr>
                                            час
                                        </td>
                                        @foreach (var itemOG in item.QualificationLaborSummary)
                                        {
                                            <td align="center">
                                                @String.Format("{0:0.00}", itemOG.CostSummary )
                                                <hr>

                                                @String.Format("{0:0.00}", itemOG.LaborSummary / 60)
                                            </td>
                                        }
                                        <td align="center">
                                            @String.Format("{0:0.00}", item.CostSummary)
                                            <hr>

                                            @String.Format("{0:0.00}", item.LaborSummary / 60)
                                        </td>
                                    </tr>
                                }

                            }
                            <tfoot>
                                <tr class="thead-dark">
                                    <td><b>Итого трудоёмкость,  час:</b></td>
                                    @foreach (var itemOG in Model.CustomerRequest.QualificationSummary)
                                    {
                                        <td align="center">
                                            <b>
                                                @String.Format("{0:0.00}", (itemOG.CostSummary))
                                            </b>
                                            <hr>
                                            <b>

                                                @String.Format("{0:0.00}", (itemOG.LaborSummary / 60))
                                            </b>
                                        </td>
                                    }
                                    <td align="center">
                                        <b>
                                            @Model.CustomerRequest.TotalCost.ToString("N2")
                                        </b>
                                        <hr>
                                        <b>

                                            @Model.CustomerRequest.TotalLabor.ToString("N2")
                                        </b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                    @* по типам*@
                    <div class="@tabs[3]" id="nav-item3" role="tabpanel" aria-labelledby="nav-item3-tab">

                        <table class="table table-bordered">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].ElementType.Name)</th>

                                @foreach (var itemOG in Model.CustomerRequest.RequestElementTypes.ToList()[0].QualificationLaborSummary)
                                {
                                    <th>
                                        @itemOG.Key.ToString()
                                    </th>
                                }

                                <th>@Html.DisplayNameFor(model => model.CustomerRequest.RequestElementTypes.ToList()[0].LaborSummary)</th>

                            </tr>

                            @foreach (var item in Model.CustomerRequest.RequestElementTypes)
                            {
                                if (item.BatchCount > 0)
                                {
                                    <tr>
                                        <td>
                                            @item.ElementType.Name
                                        </td>
                                        @foreach (var itemQ in item.QualificationLaborSummary)
                                        {
                                            <td>
                                                @String.Format("{0:0.00}", itemQ.Value.LaborSummary / 60)

                                            </td>
                                        }
                                        <td>
                                            @String.Format("{0:0.00}", item.LaborSummary)

                                        </td>

                                    </tr>
                                }

                            }
                            <tfoot>
                                <tr class="thead-dark">
                                    <td><b>Итого трудоёмкость,  час:</b></td>
                                    @foreach (var itemOG in Model.CustomerRequest.QualificationSummary)
                                    {
                                        <td>
                                            <b>
                                                @String.Format("{0:0.00}", (itemOG.LaborSummary / 60))
                                            </b>
                                        </td>
                                    }
                                    <td>
                                        <b>
                                            @Model.CustomerRequest.TotalLabor.ToString("N2")
                                        </b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    @*Сводка браков*@
                    <div class="@tabs[6]" id="nav-item6" role="tabpanel" aria-labelledby="nav-item6-tab">
                        <table class="table table-bordered">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ElementImport.DefectedTypes[0].ProtokolNumber)</th>
                                <th>@Html.DisplayNameFor(model => model.ElementImport.DefectedTypes[0].TypeNominal)</th>
                                <th>@Html.DisplayNameFor(model => model.ElementImport.DefectedTypes[0].Description)</th>
                                <th>@Html.DisplayNameFor(model => model.ElementImport.DefectedTypes[0].DefectCount)</th>
                                <th>Тип несоответствия</th>
                            </tr>
                            @if (Model.ElementImport != null)
                            {

                                @foreach (var item in Model.ElementImport.DefectedTypes)
                                {
                                    string selectedRow = item.RFA ? "table-danger" : item.NormTY ? "table-warning" : "table-success";

                                    string rowText = item.RFA ? "РФА" : item.NormTY ? "ТУ" : "НР";
                                    <tr class=@selectedRow>
                                        <td>
                                            @item.ProtokolNumber
                                        </td>
                                        <td>
                                            @item.TypeNominal
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.DefectCount
                                        </td>
                                        <td>
                                            @rowText
                                        </td>
                                    </tr>


                                }

                            }
                        </table>

                    </div>
                </div>


            </div>
        </div>
 
  
</form>
<script>
    function saveSelectedTab(tabnum) 
    {
        document.getElementById('SelectedTab').value= tabnum;

       
    }
    function DownloadFile(control,id,year) {
        var e = document.getElementById(control);
        var location = "./Download?ReportType=download?id=" + id;

        window.open(location);
    }
  
</script>
