@page
@model Estimator.Pages.CustomerRequests.ReportModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Расчёт стоимоси испытаний</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Program.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRequest.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerRequest.Customer.INN)
        </dd>
    </dl>
</div>
<form method="post" enctype="multipart/form-data">
   
    <a asp-page="./Edit" asp-route-id="@Model.CustomerRequest.CustomerRequestID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</form>
