@page "{id:int}"
@model Estimator.Pages.RuChips.EditModel
@{
}

<form method="post">

<input name="id" value="@Model.editDirVniir?.Id" type="hidden" />
<input name="CodeManufacturer" value="@Model.editDirVniir?.CodeManufacturer" type="hidden" />

<div class="row">
    <div class="col mb-3">
        <div class="card">
            <div class="card-header"> 
                Изделие:&nbsp;@Model.editDirVniir?.Name:
            </div>

            <div class="card-body">
                    <div class="form-group row">
                        <div class="col">
                            <label for="Name">Наименование</label>
                            <input class="form-control" id="Name" placeholder="Наименование изделия" value="@Model.editDirVniir?.Name">

                        </div>
                        <div class="col">
                            <label for="Qlevel">Уровень качества</label>
                            <input class="form-control" id="Qlevel" placeholder="Уровень качества (ВП,ОС,ОСМ)" value="@Model.editDirVniir?.QLevel">

                        </div>
                        <div class="col">
                            <label for="TY">Технические условия</label>
                            <input class="form-control" id="TY" placeholder="Технические условия" value="@Model.editDirVniir?.TechCondition">

                        </div>
                    </div>
                    <div class="form-group row">
                       
                        <div class="col">
                            <label for="CodeManufacturer">Код изготовителя</label>
                            <input class="form-control" id="CodeManufacturer" placeholder="Код изготовителя" value="@Model.editDirVniir?.CodeManufacturer">

                        </div>
                        <div class="col">
                            <label for="Manufacturer">Изготовитель</label>
                            <input class="form-control" id="Manufacturer" placeholder="Изготовитель" value="@Model.editDirVniir?.Manufacturer">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="Group">Группа</label>
                            <input class="form-control" id="Group" placeholder="Группа по справочнику" value="@Model.editDirVniir?.Group">

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <label for="SubGroup">Подгруппа</label>
                            <input class="form-control" id="SubGroup" placeholder="Подгруппа по справочнику" value="@Model.editDirVniir?.Subgroup">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="Description">Описание</label>
                            <textarea rows="3"class="form-control" id="Description" placeholder="Описание" >@Model.editDirVniir?.Description </textarea>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="submit" class="btn btn-outline-primary" value="Сохранить" />
                        </div>
                    </div>
             </div>
        </div>
    </div>
</div>
  
</form>