@page "{id:int}"
@model Estimator.Pages.RuChips.EditModel
@{
}


<h2>Редактирование данных</h2>

<form method="post">
    <input name="id" value="@Model.editDirVniir?.Id" type="hidden" />
    <input name="CodeManufacturer" value="@Model.editDirVniir?.CodeManufacturer" type="hidden" />
    <p>
        <label>Группа:</label><br />
        <input name="Group" value="@Model.editDirVniir?.Group" />
    </p>

    <p>
        <label>Подгруппа:</label><br />
        <input name="Subgroup" value="@Model.editDirVniir?.Subgroup" />
    </p>
    <p>
        <label>Наименование:</label><br />
        <input name="Name" value="@Model.editDirVniir?.Name" />
    </p>
    <p>
        <label>Завод изготовитель:</label><br />
        <input name="Manufacturer" value="@Model.editDirVniir?.Manufacturer" />
    </p>
    <p>
        <label>Уровень качества:</label><br />
        <input name="QLevel" value="@Model.editDirVniir?.QLevel" />
    </p>
    <input type="submit" value="Сохранить" />
</form>