@page 
@using Estimator.Pages.RuChips
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Estimator.Pages.RuChips.ImportModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
       
        <input type="file" name="postedFiles" class="form-control" /><br />
        <br />
        <input type="submit" value="Загрузить" class="btn btn-outline-primary" asp-page-handler="Upload" />
       
        <span style="color:green">@Html.Raw(Model.Message)</span>
    </form>

</body>
</html>


<form method="post" hidden="@Model._disable" >
    <hr />
    <br />
    <center><h3>Укажите стуктуру файла</h3></center>
    
    <table border="1"  cellpadding="0" cellspacing="0">         //TODO ЗАМЕНИТЬ НА ГРИД (походу все столбцы не влезают)
        <thead>
            @for (var i = 0; i < Model.tmpF.Count; i++)
            {
            <th>@Model.alpha.ElementAt(i)</th>
            }
        </thead>
        <tbody>
            <tr>
                @foreach (var fig in Model.tmpF)
                {
                    <td>@fig</td>
                }
            </tr>
        </tbody>
    </table>                                                // ЗАМЕНИТЬ НА ГРИД (походу все столбцы не влезают)

    <br />

    <p>
        <label>Первая строка - заголовок:</label> <input name="AreChecked" type="checkbox"/>
    </p>
    <p>
        <label>Группа:</label> 
        <select name="SelectedGroup" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>
    <p>
        <label>Подгруппа:</label>
        <select name="SelectedSubgroup" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>
    <p>
        <label>Наименование:</label>
        <select name="SelectedName" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>

     <p>
        <label>Завод изготовитель:</label>
        <select name="SelectedManufacturer" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>
    <p>
        <label>Код изготовителя:</label>
        <select name="SelectedCodeManufacturer" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>
    <p>
        <label>Уровень качества:</label>
        <select name="SelectedQuality" asp-for="@Model._codeCol" asp-items="Html.GetEnumSelectList<ImportModel.ColumnNames>()" class="form-control"></select>
    </p>

        <br />
    <center>
        <input type="submit" value="Импортировать" class="btn btn-outline-primary" asp-page-handler="Finish" />
    </center>
    <br />
</form>

 